/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Apr-2019, 11:08:13
    Author     : 3053561
*/

body{
    
    background: url(../images/background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;

    
}

h1 {
  
    font-size: 40px;
    text-align: center;

}

h3, h2 {
    
    font-size: 30px;
    text-align: center;
}

button {
    background: none !important;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 width:60%;
  color: #ff0000;
}

.welcome {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.feedback {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #ff0000;
}

.left {
    margin-left: 130px;
}

.right {
    margin-right: 130px;
}
